---
import { Icon } from 'astro-icon/components';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Diego Barea Gimeno. All rights reserved.
	<div class="social-links">
    <a href="https://www.linkedin.com/in/diego-barea-gimeno" target="_blank" rel="noopener noreferrer">
			<span class="sr-only">Visit my Linkedin profile!</span>
			<Icon name="simple-icons:linkedin" width="32" height="32" aria-hidden="true" />
		</a>
		<a href="https://github.com/dbareagimeno/omerta" target="_blank" rel="noopener noreferrer">
			<span class="sr-only">Check Omerta's official repo!</span>
			<Icon name="simple-icons:github" width="32" height="32" aria-hidden="true" />
		</a>
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		display: flex;
		align-items: center;
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	/* Asegura que los iconos hereden el color del enlace */
	.social-links svg {
		fill: currentColor;
	}
</style>
